@use 'bootstrap';

@use './partials/variables.scss' as *;

/*#region Utilities*/
.bnb-color {
    color: $bnb-primary !important;
}


.bnb-color-important {
    color: $bnb-primary !important;
}

.bnb-bg-color-important {
    background-color: $bnb-primary !important;
}

.shaodw-custom {
    filter: drop-shadow(0 0 20px $bnb-secondary ) !important;
}

/*#region map*/

/*#endregion map  */

/*#endregion Utilities*/

/*#region pagination*/

/* .paginazione {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 1rem;
    color: $bnb-dark;
    border: 1px solid $bnb-secondary;

    .page-item.active>.page-link {
        background-color: $bnb-primary;
        border: 1px solid $bnb-primary;
        background: $bnb-primary;
        color: $bnb-light;
    }

    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    }

    .disabled {
        color: $bnb-secondary;
    }

} */
/*#endregion pagination*/

/*#region GLOBAL RULES*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Mulish', sans-serif;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
}

.bnb-text-shadow {
    filter: drop-shadow(0px 0px 5px $bnb-secondary);
}

.bnb-searchbox-elements {
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: $bnb-accent;
    }

    &:focus-visible {
        outline: none;
    }

}

.reset_btn {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
}

.btn_pagination {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
        border-color: $bnb-primary !important;
        background-color: $bnb-primary;
        color: $bnb-light;
    }
}

.current_page {
    background-color: $bnb-primary;
    border-color: $bnb-primary !important;
    color: $bnb-light;
}

.cursor-pointer {
    cursor: pointer;
}

/*#endregion GLOBAL RULES*/

/*#region SCROLLBAR*/

/* LARGHEZZA */
::-webkit-scrollbar {
    width: 10px;
}

/* TRACK */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $bnb-secondary;
    border-radius: 10px;
}

/* GUIDA */
::-webkit-scrollbar-thumb {
    background: $bnb-primary;
    border-radius: 10px;
}

/* GUIDA ALL'HOVER */
::-webkit-scrollbar-thumb:hover {
    background: $bnb-accent;
}

/*#endregion SCROLLBAR*/

/*#region ANCHOR TAGS AND BTNS*/
a {
    text-decoration: none;
    color: $bnb-dark;
}

// FOCUSABLE ANCHOR TAGS
.focusable-bnb {
    &:hover {
        color: $bnb-accent !important;
    }
}

.btn-bnb {

    background-color: $bnb-primary !important;
    color: $bnb-light !important;

    &:hover {
        background-color: $bnb-accent !important;
        color: $bnb-light !important;
        box-shadow: 0px 1px 5px $bnb-secondary !important;
    }

    &:active {
        background-color: $bnb-accent !important;
        color: $bnb-light !important;
        box-shadow: 0px 1px 5px $bnb-secondary;
    }
}

.btn-bnb-secondary {
    background-color: $bnb-light !important;
    color: $bnb-medium;

    &:hover {
        background-color: $bnb-secondary !important;
        border-color: $bnb-secondary !important;
        color: $bnb-light;
        box-shadow: 0px 1px 5px $bnb-secondary !important;
    }

    &:active {
        background-color: $bnb-secondary !important;
        border-color: $bnb-secondary !important;
        color: $bnb-light !important;
        box-shadow: 0px 1px 5px $bnb-secondary !important;
    }
}

.bnb-btn-shadow {
    &:hover {
        box-shadow: 0px 1px 5px $bnb-secondary !important;
    }

    &:active {
        box-shadow: 0px 1px 5px $bnb-secondary !important;
    }
}

/*#endregion ANCHOR TAGS AND BTNS*/

/*#region FORMS*/
// CHECKBOXES STYLE
.form-check-input {
    box-shadow: none !important;
    border: 1px solid $bnb-primary !important;

    &:checked {
        border: 1px solid $bnb-dark !important;
        background-color: $bnb-primary !important;
    }
}

.custom-file-input {
    color: $bnb-medium;

    &::-webkit-file-upload-button {
        visibility: hidden;
    }

    &::before {
        content: 'Scegli file';
        background: $bnb-primary;
        color: $bnb-light;
        border: 1px solid $bnb-primary;
        border-radius: 50rem;
        padding: 3px 6px;
        outline: none;
        white-space: nowrap;
        cursor: pointer;

    }

    &:hover::before {
        background: $bnb-accent;
        border-color: $bnb-accent;
    }

    &:active::before {
        background: $bnb-accent;
        border-color: $bnb-accent;
    }

}

// FORM FIELDS STYLE
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom: 2px solid $bnb-secondary;
    -webkit-text-fill-color: $bnb-medium;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1rem;
}

.form-floating {
    label {
        padding: 1rem 0;
    }
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $bnb-secondary ;

    &:focus {
        box-shadow: none;
        border-bottom: 2px solid $bnb-primary;
        border-image: linear-gradient(to right, $bnb-accent, #fff);
        border-image-slice: 1;
    }

    &:focus~label {
        color: $bnb-primary !important;
    }
}

.slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background-color: $bnb-secondary;

    &::-webkit-slider-thumb {
        border-radius: 100%;
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: $bnb-primary;
        cursor: pointer;
        filter: drop-shadow(none);

        &:hover {
            background: $bnb-accent;
            filter: drop-shadow(0px 0px 2px $bnb-accent);
        }

    }
}

output {
    color: $bnb-accent;
}

// FORM ERROR MESSAGE STYLE
.form-error {
    color: $bnb-accent;
    font-weight: 300;
    font-size: 0.75rem;
}

// DATE INPUT
.date-bnb {
    border-bottom: 1px solid #b0b0b0a4;
}

// SEARCHBAR
input[type="search"] {
    padding: 0.5rem;
    padding-left: 1rem;
    background-size: 0.7em;
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/*#endregion FORMS*/

/*#region MEDIA QUERIES*/

/* BS MEDIA QUERIES BREACKPOINTS
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px 
*/

.bnb-main-img,
.bnb-br-img,
.bnb-extra-img,
.bnb-mid-img,
.bnb-tr-img {
    border: 3px solid transparent;
}

@media screen and (max-width: 425px) {

    .justify-content-xsm-center {
        justify-content: center !important;
    }

    .bnb-img-row,
    .bnb-extra-img-5 {
        height: 150px !important;
    }

}

@media screen and (max-width: 575.97px) {

    .bnb-img-row,
    .bnb-extra-img-wrapper,
    .bnb-extra-img-5,
    .bnb-main-img,
    .bnb-extra-img {
        height: 200px;
        border-radius: 0.375rem !important;
    }

}

@media screen and (min-width: 575.98px) {

    .bnb-extra-img-5 {
        height: 50% !important;
    }

    .bnb-extra-img-wrapper,
    .bnb-main-img,
    .bnb-extra-img {
        height: 200px;
    }

    .bnb-mid-img {
        border-radius: 0px !important;
    }

    .bnb-tr-img {
        border-radius: 0px !important;
        border-top-right-radius: 0.375rem !important;
    }

    .bnb-br-img {
        border-radius: 0px !important;
        border-bottom-right-radius: 0.375rem !important;
    }

    .bnb-extra-img-5 {
        height: 50% !important;

        img {
            height: 100% !important;
        }
    }

    .bnb-extra-img-5 {
        height: 50% !important;

        img {
            height: 100% !important;
        }
    }

    .bnb-img-row,
    .bnb-main-img,
    .bnb-extra-img,
    .bnb-extra-img-5 {
        height: 250px;
    }

}

@media screen and (max-width: 575.98px) {

    .bnb-img-row,
    .bnb-main-img,
    .bnb-extra-img {
        height: 200px;
        border-radius: 0.375rem !important;
    }

    .bnb-extra-img-5 {
        height: 200px !important;
    }

}

@media screen and (max-width: 575.98px) {

    .bnb-extra-img-wrapper,
    .bnb-main-img,
    .bnb-extra-img {
        min-height: 200px;
        border-radius: 0.375rem !important;
    }

}

@media screen and (min-width: 768px) {

    .bnb-img-row,
    .bnb-extra-img-wrapper,
    .bnb-main-img,
    .bnb-extra-img {
        height: 250px;
    }

}

@media screen and (min-width: 992px) {

    .bnb-img-row,
    .bnb-extra-img-wrapper,
    .bnb-main-img,
    .bnb-extra-img {
        height: 345px;
    }

}

@media screen and (min-width: 1200px) {

    .bnb-extra-img-wrapper,
    .bnb-img-row,
    .bnb-main-img,
    .bnb-extra-img {
        height: 400px;
    }

}

@media screen and (min-width: 1400px) {

    .bnb-img-row,
    .bnb-main-img {
        height: 450px;
    }

}

/*#endregion MEDIA QUERIES*/