.bnb-jumbotron {
    height: 500px;
    /* guaradate le foto e poi ditemi se ne trovate una migliore oos volete usare una di quelle cho trovato */
    background-image: url('../assets/img/placeholders/jumbo4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}