/*#region VARIABLES*/
$bnb-primary: #FF385C;
$bnb-light: #ffff;
$bnb-dark: black;
$bnb-nav-btn-hover: rgba(0, 0, 0, 0.025);
$bnb-medium: #222222;
$bnb-accent: #E00B41;
$bnb-secondary: #b0b0b0a4;

/*#endregion VARIABLES*/